* {
  box-sizing: border-box;
}
html,body,h1,h2,h3{
  margin:0;
}
h1, h2 {
  font-family: 'Poppins', sans-serif;
}
body{
  font-family: 'Carme', sans-serif;

}
a {
  text-decoration: none;
  color:#233881;
}
button{
  border:none;
}
ul{
  padding:0
}

li {
  list-style: none;
  display: inline;
}