/*
background: #f1f4f3
firstAccent light: #43EEDD
mainColor:#De399f
dark-accent:#233881
Darkest color: #1a2b50
*/

/*
background: #ffffff
firstAccent light: #00a8e8
mainColor:#d90368
dark-accent:#003459
Darkest color: #00171f
*/